.specstory
.cursorrules
.cursorignore

__pycache__
*.pyc
.python-version
refs
.vscode
*.egg-info
.env-secret.yaml
.specstory
tmp
./build
*.tar.gz
dist
poetry.lock
sphinx-docs/build/
sphinx-docs/unittests/
sphinx-docs/src/
